:root {
    --background: rgba(233, 230, 230, 0.5);
    --button-background: rgba(32, 191, 212, 0.5);
    --button-background-hover: rgba(32, 191, 212, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

 .ttd-label {
    margin-bottom: 15px;
}


h2 {
    font-size: 18px;	 
    margin-bottom: 15px;
}

h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

.header {
    text-align: center;
}

.header h1, .header h3 {
    margin-bottom: 5px;
}

hr {
   margin-top: 15px;
   margin-bottom: 30px;
}

.flex {
   display: flex;
   column-gap: 5px;
margin-bottom: 7px;
 
 
 
}
 
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 45px;
    background-color: var(--background);
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-row {
    display: table-row;
    padding: 50px;
    width: 100%;
}

.table-row radio-but {
    margin-bottom: 7px;
}

.table-cell {
    display: table-cell;
    margin-bottom: 7px;
    padding-right: 18px;
}

input[type="text"] {
    min-width: 100%;
}

.table {
    margin-bottom: 15px;
    padding-left: 30px;
}

.keterangan {
    text-align: left;
}

.form-time {
    float: right;
    display: flex;
    gap: 5px;
    margin-top: 60px;
}

.ttd {
    text-align: center;;
    clear: left;
margin-right: -60px;
    margin-top: -170px;
}
 

.ttd-pasien{
    float: right;

}

.lombaradio {
    text-align: left; 
}

.bottom {
    clear: left;
}

.button-container {
    text-align: center;
    margin-top: 180px;
}

.button {
    padding: 10px 20px;
    background-color: var(--button-background);
    border-radius: 8px;
    border-style: none;
    transition: 0.15s;
}

.button:hover {
    background-color: var(--button-background-hover);
    color: white;
    cursor: pointer;
}

